#horloge {
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-image: url("montre-sans-aiguilles.png");
    transform-origin: bottom;
    z-index: 0;
}
h1{
    text-align: center;
    font-size: 36px;
    color: rgb(255, 255, 255);
    backdrop-filter: brightness(50%);
}
#aiguilleS {
    position: absolute;
    left: 50%;
    height: 242px;
    top: 100px;
    width: 5px;
    background-color: #ff0600;
    transform-origin: bottom center;
    z-index: 1;
}
#aiguilleM {
    position: absolute;
    left: 50%;
    top: 140px;
    height: 200px;
    width: 5px;
    background-color: blue;
    transform-origin: bottom center;
    z-index: 2;
}
#aiguilleH {
    position: absolute;
    left: 50%;
    top: 240px;
    height: 100px;
    width: 5px;
    transform-origin: bottom center;
    background-color: #f6ff02;
    z-index: 3;
}

#pays{
    padding: 20px;
    position: relative;
    left:50%;
    top: 20px;
    transform: translate(-50%);
    text-align: center;
    background-color: #ff0600;
    border-radius: 20px;
    color: aliceblue;
    font-weight: 900;
    background-size: 100%;
}

#am-pm{
    position: absolute;
    color: #f6ff02;
    left: 70%;
    bottom: 70%;
    font-size: 60px;
    font-weight: 900;
}